body {
    padding: 0px;
    margin: 0px;
    background-color: #E0E0E0;
    font-family: 'Merriweather', serif;
}

.container {
    background: #FFFFFF;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
    max-width: 500px;
    margin: 5% auto;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.city {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}

.temperature {
    font-size: 48px;
    color: #1574B3;
    display: flex;
    align-items: center;
    gap: 20px;
}

.humidity, .wind-speed {
    color: #555;
}

img {
    width: 80px;
    height: 80
}

form {
    display: flex;
    gap: 10px;
}

input[type="text"] {
    padding: 10px;
    border: none;
    border-radius: 8px;
    flex: 1;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
}

button {
    padding: 10px 20px;
    background: #1574B3;
    color: white;
    border: none;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

button:hover {
    background: #125A90; 
}