.temperature {
    font-size: 24px;
    font-weight: bold;
    color:rgb(15, 151, 196)
}

.humidity {
    font-size: 20px;
    color: #228B22;
    display: flex;
    align-items: center;
    gap: 50px;
}

.wind-speed {
    font-size: 20px;
    color: #1E90FF;  
}

@media (min-width: 768px) {
    .temperature {
        font-size: 28px;
    }

    .humidity, .wind-speed {
        font-size: 24px;
    }
}

body {
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0px;
    background: rgb(39, 37, 37);
    font-family: 'Merriweather', serif;
}

.container {
    border: 1px solid blue;
    max-width: 800px;
    padding: 20px;
}
